@tailwind base; 
@tailwind components;
@tailwind utilities;


/* Nav Bar */
a.navlink:is(:link, :active, :visited).active {
  color: black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  background: none;
  transition: all .5s;
}


